<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>OAuth Tutorials</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {
            font-family: arial;
            margin: 0;
        }

        nav {
            background: #ff5353;
            padding: 20px 10px;
        }

        nav ul {
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }

        nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }

        nav a {
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }

        main,
        header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>OAuth Tut's</h1>
        <h2>Homepage</h2>
    </header>
    <main>
        <p>OAuth tutorials on the planet :)</p>
    </main>

    <div>

        <div>
            <h4>Search exersize</h4>
            <form id="search-exersizes">
                <input type="text" name="inputW">
            </form>
            <button id="workouts-btn">search exersize</button>
    
            <h4>Search food</h4>
            <form id="search-nutrition">
                <input type="text" name="inputN">
            </form>
            <button id="nutrition-btn">search food</button>
            <br>
            <h4>View user data</h4>
            <button id="view-btn">view data</button>
            <br>
    
            <h4>Response data</h4>
            <div id="data">
            </div>
            <br>
    
            <form id="exersizes-form">
                <div id="exersizes-topost"></div>
            </form>
            <form id="nutrition-form">
                <div id="nutrition-topost"></div>
            </form>
            <button id="post-exersizes">add exersizes</button>
            <button id="post-nutrition">add nutrition</button>
    
        </div>
        <script>
        
        $(document).ready(function () {

console.log("javascript loaded")

// for searching:

// fitbit API

$("#workouts-btn").on("click", function () {

    let exersize = $("#search-exersizes")[0].elements[0].value;

    console.log(exersize);

    $.get("api/exersizes", function (data) {
        let results = [];
        for (let i = 0; i < data.length; i++) {
            if (data[i].name.includes(exersize)) {
                results.push(data[i]);
            }
        }
        console.log(results);

        for (let i = 0; i < results.length; i++) {

            let options = $("<button id=" + results[i].id + ">");
            options.html(results[i].name);
            options.attr("class", "exersize")
            options.appendTo($("#data"));

        }

    });

})


// edemam API

let foodOptions = [];

$("#nutrition-btn").on("click", function () {

    let food = "apple";

    let app_id = "319d5cf3";

    let app_key = "a6b7b2b30443063fa2630ff0dbc8f735"

    let queryURL = "https://api.edamam.com/api/food-database/parser?limit=5&app_id=" + app_id + "&app_key=" + app_key + "&ingr=" + food;

    $.ajax({
            url: queryURL,
            method: "GET"
        })

        // Function is .then() called with the response object:

        .then(function (response) {

            // Console logs the response to see what the object looks like, how to retrieve information:

            console.log(response);

            for (let i = 0; i < response.hints.length; i++) {
                foodOptions.push(response.hints[i]);
                let options = $("<button id=" + response.hints[i].food.label + ">");
                options.html(response.hints[i].food.label);
                options.attr("class", "nutrition");
                options.attr("id", response.hints[i].food.foodId)
                options.appendTo($("#data"));

            }

        });

});

// for adding items to submit to server:

let exersizePostArray = [];

$(document).on("click", ".exersize", function () {

    $("#exersizes-topost").html("");

    console.log("add exersize to post form");

    let thisID = this.id;

    $.get("api/exersizes", function (data) {

        for (let i = 0; i < data.length; i++) {

            if (data[i].id === thisID) {
                exersizePostArray.push(data[i]);
            }
        }

        for (let i = 0; i < exersizePostArray.length; i++) {
            let postExersize = $("<p>");
            $(postExersize).html(exersizePostArray[i].name);
            $("#exersizes-topost").append(postExersize);
        }

    });

})

let nutritionPostArray = [];

$(document).on("click", ".nutrition", function () {

    $("#nutrition-topost").html("");

    console.log("add nutrition to post form");

    let thisID = this.id;

    for (let i = 0; i < foodOptions.length; i++) {

        if (foodOptions[i].food.foodId === thisID) {
            nutritionPostArray.push(foodOptions[i]);
        }
    }

    for (let i = 0; i < nutritionPostArray.length; i++) {
        let postNutrition = $("<p>");
        $(postNutrition).html(foodOptions[i].food.label);
        $("#nutrition-topost").append(postNutrition);
    }

})


// for posting to server:

$("#post-exersizes").on("click", function () {


    console.log(exersizePostArray)

    $.post("api/workouts", exersizePostArray).then(function (data) {
        console.log(data);
    })

})

$("#post-nutrition").on("click", function () {


    console.log(nutritionPostArray);

    $.post("api/nutrition", nutritionPostArray).then(function (data) {
        console.log('THIS IS THE DATA', data);
        console.log('THIS IS THE DATA type', typeof data);
    });

})



// for viewing saved user data:


$("#view-btn").on("click", function (event) {

    event.preventDefault();

    console.log("view");

    $.get("api/workouts", function (data) {

        // for each character that our server sends us back
        for (let i = 0; i < data.length; i++) {
            // create a parent div for the oncoming elements
            let workoutData = $("<div>");
            // add a class to this div
            workoutData.addClass("workoutData");
            // add an id to the well to mark 
            workoutData.attr("id", "workoutData" + i);
            // append the div to data div
            $("#data").append(workoutData);

            // get data from workouts data

        }
    });

    $.get("api/nutrition", function (data) {

        // for each food that our server sends us back

        for (let i = 0; i < data.length; i++) {
            // create a parent div for the oncoming elements
            let nutritionData = $("<div>");
            // add a class to this div
            nutritionData.addClass("nutritionData");
            // add an id to the well to mark 
            nutritionData.attr("id", "nutritionData" + i);
            // append the div to data div
            $("#data").append(nutritionData);

            // get data from nutrition table

        }
    });
});

// for posting:

// $("#nutrition-btn").on("click", function (event) {

//     event.preventDefault();

//     console.log("nutrition");

//     let data = $("#post");

//     console.log(data);

//     // post data to nutrition

// });

// $("#workouts-btn").on("click", function (event) {

//     event.preventDefault();

//     console.log("workouts");

//     let data = $("#post");

//     console.log(data);

//     // post data to workouts

// });

});
        
        </script>

    </div>

</body>

</html>