<!doctype html>
<html lang="en">

<head>
  <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Head Section Meta Char Info 
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Head Section A.2: CSS tied to SASS/SCSS File + Bootstrap
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Head Section A.3: Google Fonts
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

  <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">

  <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Head Section A.4: Projec CSS files using SASS
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

  <link rel="stylesheet" type="text/css" href="./css/index.css">


  <title>BlazeX</title>
</head>


<!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  ACTUAL HTML :: Beginning of Body
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

<body>
  <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  ACTUAL HTML :: Landing Page
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-12'>
        <div id='sketch1' class='jumbotron bg-transparent w-auto'>

          <div id='opening' class="card border-warning mb-3 bg-transparent" style="max-width: 25rem;">
            <div class="card-header border-warning text-warning">
              <h1> VitX </h1>
            </div>
            <div class="card-body text-warning">
              <h5 class="card-title">Warning card title</h5>
              <p class="card-text"> Welcome to VitX, please sign in to continue.
              </p>
            </div>
          </div>




        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div id='authentication' class='jumbotron bg-transparent'>





          <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
              :: Google Auth ::
              //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

          <div id='box1' class="card border-warning mb-3 bg-transparent w-auto" ;">
            <div class="card-header text-center text-warning">Please Sign-In</div>
            <div class="card-body text-warning">
              <div id='box1' class="card border-warning mb-3 bg-transparent w-35">
                <div class="card-header text-left text-warning"></div>
                <div class="card-body text-warning">
                  <h5 class="card-title">Sign-In With Google</h5>
                  <div class='w-auto'>
                    <button id='button' type="button" class="btn btn-outline-warning text-center"> Sign In</button>

                  </div>


                </div>
              </div>
            </div>
          </div>









        </div>
      </div>




      <div class='row'>
        <div class='col-md-12'>
          <div id='svg-test' class='jumbotron bg-transparent'>




          </div>
        </div>
      </div>
    </div>


    <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  ACTUAL HTML :: First Section
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

    <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  ACTUAL HTML :: Second Section
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

    <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  ACTUAL HTML :: Third Section
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->


    <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Head Section Z.1: javascript CDNs for GSAP  
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/CSSRulePlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/Draggable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/EaselPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/EasePack.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/MotionPathPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/PixiPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/TextPlugin.min.js"></script>


    <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Head Section Z.1: Optional Javascript
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
    <script src="./libraries/p5.js"></script>
    <script src="./libraries/d3.js"></script>
    <script src="./Animation/sketch.js"></script>

    <script src="./Animation/index_gsap.js"></script>




    <!-- // -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  Head Section Z.3. jQuery, Bootstrap, & Popper.js
  //-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</body>

</html>